.input-meters{
    display: flex;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #504C4E;
   width: 24px;
   justify-content: center;
   text-align: center;
   font-size: 13px;
   font-family: 'Helvetica Normal', sans-serif;
}

.input-meters:hover {
    outline: none;
}
.input-meters:focus{
    outline: none;
}