
.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid  #4A64E5;
    border-radius: 15px;
    padding: 6px 16px;
    font-size: 14px;
    color: #262124;
    gap: 10px;
  }
  
  .decrement-button,
  .increment-button {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #273BE2;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  