.primary-button {
 
    text-align: left;
    background-color: transparent;
    border: none;
    font-family: 'Helvetica Normal', sans-serif;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    color: #252124;
    line-height: 20px;
  

}
.primary-button:hover{
    color: #213CE7;
}

  