.button-send {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #273BE2;
    color:#FEFDFA;
    font-size: 15px;
    padding: 8px 36px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    line-height: 20px;
    
}