*,
*::before,
*::after {
  box-sizing: border-box;
}
select {
  /*`para quitar la flecha   */
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  text-align: center;
}
select::-ms-expand {
  display: none;
}
:root {
  --select-border: #7A8CFF;
  --select-arrow: #213CE7;
}
select,
.select:after {
  grid-area: select;
}
.select{
  display: grid;
  align-items: center;
  padding: 0.25em 0.5px;
  cursor: pointer;
  line-height: 1.1;
  
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  grid-template-areas: "select";
}
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

/*
.select-container {
  justify-content: center;
    display: flex;

  }
  
  .select-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
  .select-component{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-style: none;
    font-size: 14px;
    line-height: 16px;
    text-align-last: center;
    min-width: 130px;
  }
  .select-component option {
    background-color: #213CE7; 
    margin-top: 5px;
    font-family: 'Helvetica Normal', sans-serif; 
    font-size: 13px;
    line-height: 16px;
  
  }

  .select-component:hover {
    outline: none;
}
.select-component:focus{
    outline: none;
}
.select-component option {
  font-family: inherit;
  font-size: inherit;
}
  .options {
    font-family: 'Helvetica Normal', sans-serif;
    
    line-height: 16px;
  }
  .rotate {
    transform: rotate(180deg);
  }
  
  
  */