@font-face {
  font-family: 'Helvetica Normal';
  src: url('./assets/fonts/Helvetica-Normal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* { padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Helvetica Normal', sans-serif;
}
body {
  font-family: 'Helvetica Normal', sans-serif;
  font-size: 15px;
}

.container-uno{
  min-width: 360px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
  
  
}

.container-primary-title {
 display: flex;
 min-width: 360px;
 background-color: #273BE2;
 justify-content: center;
 padding: 6px  8px;

}
h2 {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
}

.primary-calculatro-container,.icon-container
{
  display: flex;
  align-items: center;
 

}

.primary-calculatro-container{
 display: flex;
 justify-content: center;
 justify-content: space-around;
 padding-top: 14px;
 padding-bottom: 20px;
 gap: 8px;
}
.button-container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 15px;
  
}
.container-title{
  display: flex;
  justify-content: center;
  
}
.container-title-meter{
  display: flex;
  justify-content: center;
}

.second-section-container{
  display: flex;
  min-width: 360px;
  flex-direction: column;
  padding: 22px 0;
  
}
.icon-container{
  display: flex;
  padding-top: 24px;
  padding-bottom: 20px;
  justify-content: space-around;
 
}
.icon-device{
  filter: opacity(50%);
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.icon-device:hover{  
filter: none;
}
.container-metros{
  display: flex;
  justify-content: space-around;
 
}
.container-buttons-count{ 
 
  padding-top: 44px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.third-section-container{
  display: flex;
  min-width: 360px;
  justify-content: center;
  align-items: center;
}