@font-face {
  font-family: 'Helvetica Normal';
  src: url('./assets/fonts/Helvetica-Normal-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* { padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Helvetica Normal', sans-serif;
}
body {
  font-family: 'Helvetica Normal', sans-serif;
  font-size: 15px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 24px;
}
.general{
  box-shadow: 0 4px 4px 0  rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius:40px;
}

.container-primary-title {
 display: flex;
 background-color: #273BE2;
 justify-content: center;

}
h2 {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
}

.primary-calculatro-container,.icon-container
{
  display: flex;
  align-items: center;
 

}

.primary-calculatro-container{
 display: flex;
 justify-content: center;
 gap:20px;
 padding-top:14px;
 padding-bottom:14px;
}
.icon-container{
  display: flex;
  padding-top: 24px;
  padding-bottom: 20px;
 justify-content: center;
 gap:20px;
 align-items: center;
 
}
.button-container {
  display: flex;
  justify-content: space-evenly;
  gap:10px;
  align-items: center;
  padding: 20px 0;
 
  
}
.button-container > span {
  width: 1px;
  height: 0.9rem;
  display: block;
  background-color: #273BE2;
  
  
}

.button-container > div > button{
  border-right: solid 1px;
  margin: 0;
  padding: 0;
text-align: left;
}

.container-title{
  display: flex;
  justify-content: center;
  
}
.container-title-meter{
  display: flex;
  justify-content: center;
  
}
.container-select{
  display: flex;
  justify-content: center;
  
 
}
.icon-device{
  filter: opacity(50%);
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.icon-device:hover{  
filter: none;
}
.container-metros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  gap: 20px;
}

.container-metros > div.counter-container{
  flex:1;
}
.container-buttons-count{ 
 
  padding-top: 44px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
/* secciones                    -----   */
.primary-section{
  display: flex;
  flex-direction: column;
 
  
}
.second-section-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 22px 0;
  justify-content: center;

  
  
}
.third-section-container{
  display: flex;
  justify-content: center;
  align-items: center;
 padding-block: 20px;
  
}


@media (min-width: 500px) {
  .container-metros{
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .container-select{
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    padding-inline: 80px;
    
  }
  .primary-section{
    display: flex;
    
    
  }
  .container-metros{
    flex-wrap: nowrap;
    justify-content: center;
  }
  .container-select{
    width: auto;
  
  
  
  }
  .container{
    gap:40px;
  }
  .container-metros > div.counter-container{
    max-width:140px;
  }
  .icon-container{
    gap:40px;
  }
  }
